.chosen-container{margin-left: 0px;} .rowmarginbotom{margin-bottom: 5px;} .textcolorred{color:red;} #tablerentapoliza td{padding: 0px;} .texcolorred{color:red;} .texcolorblue{color:blue;} .texcolorgrenn{color:green;} .texcoloryellow{color:#fdc363;} #modalinfoser{max-height: 88%;} #modalfinservicio{margin: 0px !important;width: 100% !important;} #modalfinservicio{top:0% !important;max-height: 100%;} #tableservicioequipos td{font-size: 12px;} .datosclienteahorario{font-size: 12px !important;} #modalinfoser .modal-content{padding: 6px !important;} #modalinfoser h4{font-size: 25px !important;} .serini{background: #4caf506e !important;} .servicio_hecho{background-color: #c9c4c4 !important;} #tabla_seach td,#tabla_seach th, #tabla_seach0 td,#tabla_seach0 th, #tabla_seach1 td,#tabla_seach1 th, #tabla_seach4 td,#tabla_seach4 th{font-size: 10px;  }
  @media only screen and (max-width: 500px){
    #modal_seach_serie {width: 100%;}
    #modal_seach_serie .modal-content{padding: 2px;}
    #modal_seach_serie .collapsible-body{padding: 2px;}
    .botonayuda{top: 10px;position: absolute;z-index: 999;right: 62px;}
    .dataTables_length{width: 20%;float: left !important;}
    .dataTables_filter{width: 80%;float: left !important;margin-top: 0px !important;}
    .jconfirm-box.jconfirm-hilight-shake{width: 90% !important;}
  }
  #notificarerror{height: 80px!important;}
  .sweet-alert{z-index: 999999999999999999;}
  .triangulox {width: 0;height: 0;border-right: 50px solid transparent;border-top: 50px solid transparent;border-left: 50px solid #f0ad4e;border-bottom: 50px solid #f0ad4e;}
  .triangulo {width: 0;height: 0;border-right: 30px solid #c0bbbb;border-top: 30px solid #c0bbbb;border-left: 30px solid transparent;border-bottom: 30px solid transparent;position: absolute;right: 0px;}
  .titlet{z-index: 1;text-shadow: 0.1em 0.1em #333;text-transform: uppercase;font-size: 1.2em !important;  }
  .pri2_1{border-right: 30px solid #63be7b;border-top: 30px solid #63be7b;} .pri2_2{border-right: 30px solid #85c87d;border-top: 30px solid #85c87d;}
  .pri2_3{border-right: 30px solid #a8d27f;border-top: 30px solid #a8d27f;} .pri2_4{border-right: 30px solid #cbdc81;border-top: 30px solid #cbdc81;}
  .pri2_5{border-right: 30px solid #ede683;border-top: 30px solid #ede683;} .pri2_6{border-right: 30px solid #ffdd82;border-top: 30px solid #ffdd82;}
  .pri2_7{border-right: 30px solid #fdc07c;border-top: 30px solid #fdc07c;} .pri2_8{border-right: 30px solid #fca377;border-top: 30px solid #fca377;}
  .pri2_9{border-right: 30px solid #f8696b;border-top: 30px solid #f8696b;}
  .td_button_agregar{border: 1px solid red;}
  .numberidasig{font-size: 9px !important;}
  .emoji_triste, .emoji_feliz{height: 48px;width: 48px;}
  /*
  .emoji_triste{background: url(<?php echo base_url()?>public/img/triste.jpg);background-size: 100%;background-repeat: no-repeat;    background-position: center;}
  .emoji_feliz{background: url(<?php echo base_url()?>public/img/feliz.jpg);background-size: 100%;background-repeat: no-repeat;    background-position: center;}
  table .emoji_triste{background: url(<?php echo base_url()?>public/img/triste.jpg);background-size: 85%;background-repeat: no-repeat;    background-position: center;}
  table .emoji_feliz{background: url(<?php echo base_url()?>public/img/feliz.jpg);background-size: 85%;background-repeat: no-repeat;    background-position: center;}
  */
  .laben_prio{text-align: center;}
  #solicitudrefaccioncpe{min-height: 100px;}
  .jconfirm-holder{margin-top: 0px;padding-top: 0px !important;}
  .new-alert-person.jconfirm .jconfirm-box{background: red;color: white;}
  .new-alert-person.jconfirm .jconfirm-box div.jconfirm-title-c{text-align: center;font-weight: bold;font-size: 20px;}
  .new-alert-person.jconfirm .jconfirm-box div.jconfirm-content-pane{text-align: center;font-weight: bold;font-size: 18px;}
  .new-alert-person.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {float: unset;text-align: center;}
.array_ser_vig,.btn_cancel_none,.ocultar_tec{display: none !important;}
.table_confirm{font-size: 13px;}
/*-----------search series---------------------*/
  #searchserie{background-color: white;}
  .inputsearch{display: none;height: 55px;float: left;padding: 8px;}
  .search_series{width: 59px;height: 55px;background: #ff9100;position: fixed;z-index: 100000;top: 0;right: 0px;border-radius: 0 0 0 41px;transition: width 0.5s ease; /* Efecto suave al cambiar el ancho */  }
  .iconsearch{width: 100%;height: 55px;text-align: center;padding: 10px;font-size: 21px;color: white;float: left;}
  .search_series.activo{width: 100%;border-radius: 0 0 0 0;}
  .search_series.activo .iconsearch{width: 10%;}
  .search_series.activo .inputsearch{display: block;width: 90%;}
  .search_select.ser_localizada{border: 4px #cc0000 solid;animation: infinite borderlocalisado 2s;}
  @keyframes borderlocalisado {
    0%,100%{
      border: 4px #cc0000 solid;
    }
    50%{
      border: 4px white solid;
    }
  }
  #c_qrecibio,#info_cont_fin{
    margin-bottom: 0px;
  }
/*----------------------------------------*/
.table_tedit_equipos td{
  font-size: 11px;
}