.contenedor{
padding: 0 6px;
align-self: flex-start;
flex-shrink: 0;
display: block;
height: 100%;
white-space: nowrap;
width: 311px;
float: left;
margin-left: ;
}
.contenedor2{
background-color: var(--accent-background, var(--tr-background-list, #ebecf0));
border-radius: 12px;
box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
color: var(--accent-text, var(--ds-text-subtle, #44546f));
display: flex;
justify-content: space-between;
max-height: 100%;
flex-direction: column;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 272px;
align-self: start;
padding-bottom: 8px;
position: relative;
scroll-margin: 8px;
white-space: normal;
width: 292px;
box-sizing: border-box;
vertical-align: top;
min-height: 600px;
}
@media only screen and (max-width: 450px){
    .contenedor2{
        min-height: auto;
    }
}
.bPNGI_VbtbXQ8v {
display: flex;
row-gap: 0;
align-items: center;
padding: 8px 8px 0;
position: relative;
flex-grow: 0;
flex-basis: 0;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}
.mKJWg6W_CLHoiO {
position: relative;
flex-basis: min-content;
flex-grow: 1;
flex-shrink: 1;
min-height: 20px;
color: var(--accent-text-bolder, var(--ds-text, #172b4d));
}
.KLvU2mDGTQrsWG {
display: block;
font-size: 14px;
font-weight: 600;
line-height: 20px;
margin: 0;
padding: 6px 8px 6px 12px;
background-color: transparent;
overflow: hidden;
overflow-wrap: anywhere;
white-space: normal;
cursor: pointer;
z-index: 0;
}
.S10qr1dFzMP0OB {
margin-bottom: -2px;
width: 100%;
height: 8px;
z-index: 10;
}
.RD2CmKQFZKidd6 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 4px;
    padding: 2px 4px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    list-style: none;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    scrollbar-color: var(--ds-background-neutral-hovered, #091e4224) var(--ds-background-neutral, #091e420f);
    scrollbar-width: thin;
}
.T9JQSaXUsHTEzk {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    scroll-margin: 80px;
    padding-bottom: 8px;
}
.KWQlnMvysRK4fI {
    background-color: var(--ds-surface-raised, #ffffff);
    border-radius: 8px;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    color: var(--ds-text, #172b4d);
    cursor: pointer;
    min-height: 36px;
    position: relative;
    scroll-margin: 8px;
}
.KWQlnMvysRK4fI:focus-within {
    opacity: 1;
    outline: 2px solid var(--ds-border-focused, #388bff);
}
.amUfYqLTZOvGsn {
    display: flow-root;
    position: relative;
    padding: 8px 12px 4px;
    min-height: 24px;
    z-index: 10;
    padding-right: 32px;
}
.o0opcYgoysGMA4 {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 16px;
    padding: 6px 8px;
    background-color: var(--ds-surface-raised, #ffffff);
    z-index: 10;
}
.o0opcYgoysGMA4:hover {
    background-color: var(--ds-surface-raised-hovered, #f1f2f4);
}
.SEj5vUdI3VvxDc:focus:not(.y49lYPyzBoLRYa) {
    outline: 0;
}
.o0opcYgoysGMA4:active {
    background-color: var(--ds-surface-raised-pressed, #dcdfe4);
}
.SEj5vUdI3VvxDc:focus {
    outline: -webkit-focus-ring-color auto 5px;
}
.bxgKMAm3lq5BpA:active {
    background-color: var(--ds-background-neutral-pressed, #091e424f);
    box-shadow: none;
    border: none;
    color: var(--ds-text, #172b4d);
    outline: 0;
}
.bxgKMAm3lq5BpA:hover {
    background-color: var(--ds-background-neutral-hovered, #091e4224);
    box-shadow: none;
    border: none;
    color: var(--ds-text, #172b4d);
    text-decoration: none;
   
}
.bxgKMAm3lq5BpA {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-display: swap;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 6px;
    text-decoration: none;
    white-space: normal;
    background-color: var(--ds-background-neutral, #091e420f);
    box-shadow: none;
    border: none;
    color: var(--ds-text, #172b4d);
    font-weight: 500;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    
}
.A3PtEe1rGIm_yL {
    display: inline-block;
    line-height: 1;
}
.css-snhnyn {
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
}

.bxgKMAm3lq5BpA .gNDonYrNSA1GXJ [role='img'] > svg, .bxgKMAm3lq5BpA .Lm69QtwCvEGJyG [role='img'] > svg, .bxgKMAm3lq5BpA .fAvkXZrzkeHLoc [role='img'] > svg, .bxgKMAm3lq5BpA .gNDonYrNSA1GXJ svg[role='presentation'], .bxgKMAm3lq5BpA .Lm69QtwCvEGJyG svg[role='presentation'], .bxgKMAm3lq5BpA .fAvkXZrzkeHLoc svg[role='presentation'] {
    color: unset !important;
}
.neoUEAwI0GETBQ svg {
    height: 16px;
    width: 16px;
    line-height: 16px;
}
.css-snhnyn > svg {
    overflow: hidden;
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
    color: var(--icon-primary-color);
    fill: var(--icon-secondary-color);
    vertical-align: bottom;
}
.NdQKKfeqJDDdX3, .NdQKKfeqJDDdX3:hover, .NdQKKfeqJDDdX3:active {
    color: var(--ds-text, #172b4d);
    text-decoration: none;
}
.NdQKKfeqJDDdX3 {
    display: block;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
}
.per_titulo{
    font-size: 12px;
    font-style: italic;
}
@media only screen and (max-width: 450px){
    .contenedor{
        width: 100%;
        margin-bottom: 10px;
    }
    .contenedor2{
        width: 98%;
        min-height: auto;
    }
    .jconfirm-box{
        width: 72% !important;
    }
    
}