.newoseriesequipos [type="radio"]:checked+label:after, 
.newoseriesequipos [type="radio"].with-gap:checked+label:after, 
.newoseriesaccesorios [type="radio"]:checked+label:after, 
.newoseriesaccesorios [type="radio"].with-gap:checked+label:after, 
.newoseriesrefacciones [type="radio"]:checked+label:after, 
.newoseriesrefacciones [type="radio"].with-gap:checked+label:after 
{
  background-color: #ff2300;
}

.newoseriesequipos [type="radio"]:checked+label:after, 
.newoseriesequipos [type="radio"].with-gap:checked+label:before, 
.newoseriesequipos [type="radio"].with-gap:checked+label:after,

.newoseriesaccesorios [type="radio"]:checked+label:after, 
.newoseriesaccesorios [type="radio"].with-gap:checked+label:before, 
.newoseriesaccesorios [type="radio"].with-gap:checked+label:after,

.newoseriesrefacciones [type="radio"]:checked+label:after, 
.newoseriesrefacciones [type="radio"].with-gap:checked+label:before, 
.newoseriesrefacciones [type="radio"].with-gap:checked+label:after
{
  border: 2px solid #ff2300;
}

.newseriesequipos [type="radio"]:checked+label:after, 
.newseriesequipos [type="radio"].with-gap:checked+label:after,
.newseriesaccesorios [type="radio"]:checked+label:after, 
.newseriesaccesorios [type="radio"].with-gap:checked+label:after, 
.newseriesrefacciones [type="radio"]:checked+label:after, 
.newseriesrefacciones [type="radio"].with-gap:checked+label:after 
{
  background-color: #18af24;
}
.newseriesequipos [type="radio"]:checked+label:after, 
.newseriesequipos [type="radio"].with-gap:checked+label:before, 
.newseriesequipos [type="radio"].with-gap:checked+label:after,
.newseriesaccesorios [type="radio"]:checked+label:after, 
.newseriesaccesorios [type="radio"].with-gap:checked+label:before, 
.newseriesaccesorios [type="radio"].with-gap:checked+label:after,
.newseriesrefacciones [type="radio"]:checked+label:after, 
.newseriesrefacciones [type="radio"].with-gap:checked+label:before, 
.newseriesrefacciones [type="radio"].with-gap:checked+label:after
{
  border: 2px solid #18af24;
}






