@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:400'");
.middle {
  width: 100%;
  text-align: center;
  /* Made by */
}
.middle h1 {
  font-family: "Inter", sans-serif;
  color: #fff;
}
.middle input[type=radio] {
  display: none;
}
.middle input[type=radio]:checked + .box {
  background-color: #007e90;
}
.middle input[type=radio]:checked + .box span {
  color: white;
  transform: translateY(0px);
}
.middle input[type=radio]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
  display: block;
  width: 22px;
  float: left;
}
.middle .box {
  width: 400px;
  /*height: 200px;*/
  height: 60px;
  /*background-color: #fff; */
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  
  -webkit-box-shadow: 19px 8px 21px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 19px 8px 21px -16px rgba(0,0,0,0.75);
  box-shadow: 19px 8px 21px -16px rgba(0,0,0,0.75);
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  position: absolute;
  transform: translate(0, 0);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.3em;
  user-select: none;
  color: #007e90;
}
.middle .box span:before {
  font-size: 1.2em;
  font-family: 'Font Awesome 5 Free';
  /*display: block; */
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  /*font-weight: normal; */
  color: white;
  display: none;
}
.middle .front-end span:before {
  content: "\f4fe ";
}
.middle .back-end span:before {
  content: "";
}
.middle p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}

.middle p span:after {
  content: "";
  font-family: 'Font Awesome 5 Free';
  color: yellow;
}
.card-panel{
  display: block !important;
}
.prioridad_1{
  background-color: #ff0000;
}
.prioridad_2{
  background-color: #ff9100;
}
.prioridad_3{
  background-color: #dbca05;
}
.prioridad_4{
  background-color: #00a1ff;
}
.prioridad_5{
  background-color: #038f18;
}
.prioridad_{
  background-color: #3a87ad;
}
.prioridad_1 span,.prioridad_2 span,.prioridad_3 span,.prioridad_4 span,.prioridad_5 span,.prioridad_ span{
  color: white !important;
}