#chat-what {
	position: fixed;
    right: 0;
    bottom: 0;
}
#chat-what img{
	width: 60px;
}
.indicador_chat{
	position: absolute;
	cursor: pointer;
}
.indicador_chat .notification-badge{
	right: 0px;
    top: 16px;
    left: 26px;

    box-shadow: 0px 0px 20px rgba(250,10,10,1);
  	animation: infinite resplandorAnimation_chat 2s;
}
@keyframes resplandorAnimation_chat {
  0%,100%{
    box-shadow: 0px 0px 20px rgb(247 247 247);
  }
  50%{
  box-shadow: 0px 0px 0px;
  
  }

}


.chat_info{
	display: none;
}
.chat_info.active{
	display: block;
}
.chat_info{
	width: 330px;
    height: 580px;
    position: fixed;
    bottom: 12px;
    background: #f2f2f2;
    z-index: 9995;
    right: 24px;
    border-radius: 10px;
}
.chat_info .cabezera{
	width: 100%;
	height: 120px;
	background: red;
	border-radius: 10px;
}
.logos{
	width: 50%;
    height: 100px;
    float: left;

}
.cabezera_info{
	width: 90%;
    height: 50px;
    background: white;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 89px;
    position: absolute;
    border-radius: 5px;
    padding: 8px;
}
.shadowx{
	-webkit-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
-moz-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
}
.chat_body{
	background: white;
    width: 90%;
    height: 397px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;

}
.chat_footer{
	margin-top: 7px;
    font-size: 11px;
    text-align: center;

}
.ct_close{
	position: absolute;
    right: 8px;
    top: 2px;
    font-size: 15px;
    cursor: pointer;
}
.chat_body_if{
	width: 100%;
  min-height: 396px
}




.option_ct{
	width: 95%;
    /*height: 50px;*/
    background: white;
    /*margin-left: 5%;
    margin-right: auto;*/
    margin-top: 10px;
    /* position: absolute; */
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #ddd;
    text-decoration: none;
    /*color:red; */
    display: block;
        margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding-right: 40px;
}
.min-height{
	min-height: 50px;
}
.shadowx{
	-webkit-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
-moz-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
}
.cls_reg{
	color: #817b7b;
    text-align: end;
    font-size: 10px;
    margin-bottom: -13px;
    font-style: italic;
}
.chat_body_if{
	border: 0px;
}
.option_ct.iniciada{
  background: #b2e5b4;
}