@media only screen and (max-width: 500px){
  #modalvaca{
    width: 95%;
    top: 5% !important;
    max-height: 90%;
  }
  #modalvaca td{
    padding: 5px 5px;
  }
}
label.error{color: red;}
input.error{border: 1px solid red !important;}