.b-btn {display: inline-block;font-weight: 400;color: #212529;text-align: center;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: transparent;border: 1px solid transparent;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; margin-bottom: 3px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);  margin:1px; }
.b-btn:hover {color: #212529;text-decoration: none;}
.b-btn-primary {color: #fff;background-color: #007bff;border-color: #007bff;}
.b-btn-primary:hover {color: #fff;background-color: #0069d9;border-color: #0062cc;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {color: #fff;background-color: #0062cc;border-color: #005cbf;}.b-btn-primary.focus, .b-btn-primary:focus {color: #fff;background-color: #0069d9;border-color: #0062cc;box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);}.b-btn.focus, .b-btn:focus {outline: 0;box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);}

.b-btn-success {color: #fff;background-color: #4caf50;border-color: #4caf50;}
.b-btn-danger {color: #fff;background-color: #e44c41;border-color: #e44c41;}
.b-btn-danger:hover {color: #fff;background-color: #e44c41;border-color: #e44c41;}
.b-btn-danger.focus, .b-btn-danger:focus {color: #fff;background-color: #e44c41;border-color: #e44c41;box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);}.b-btn.focus, .b-btn:focus {outline: 0;box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);}
.b-btn-warning {color: #fff;background-color: #ff9100;border-color: #ff9100;}
.b-btn-warning:hover {color: #fff;background-color: #e38203;border-color: #e38203;}

.b-btn-info {color: #fff;background-color: #17a2b8;border-color: #17a2b8;}
.b-btn-info:hover {color: #fff;background-color: #138496;border-color: #117a8b;}

.b-btn-secondary {color: #fff;background-color: #6c757d;border-color: #6c757d;}
.b-btn-secondary:hover {color: #fff;background-color: #5a6268;border-color: #545b62;}

.b-btn-cyan {color: #fff;background-color: #00bcd4;border-color: #00bcd4;}
.b-btn-cyan:hover {color: #fff;background-color: #08b1c7;border-color: #08b1c7;}


.b-btn:disabled,
.b-btn[disabled]{
	background-color: #dfdfdf;border-color: #dfdfdf;
}


.b-btn.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/* input group  */
    .b-input-group{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }
    .b-input-group>.b-custom-select:not(:last-child), .b-input-group>.form-control-bmz:not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .b-input-group>.b-custom-file, .b-input-group>.b-custom-select, .b-input-group>.form-control-bmz {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
    .b-input-group-append {
        margin-left: -1px;
        
    }
    .b-input-group-append, .b-input-group-prepend {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .b-input-group-prepend {
        margin-right: -1px;
        
    }
    .b-input-group>.b-custom-select:not(:first-child), .b-input-group>.form-control-bmz:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .b-input-group .form-control-bmz{
        width: auto !important;
        margin: 0px !important;
    }
    .b-input-group label.error{
        position: absolute;
        margin-top: 38px;
    }
    .b-input-group>.b-input-group-append>.b-btn, 
    .b-input-group>.b-input-group-append>.b-input-group-text, 
    .b-input-group>.b-input-group-prepend:first-child>.b-btn:not(:first-child), 
    .b-input-group>.b-input-group-prepend:first-child>.b-input-group-text:not(:first-child), 
    .b-input-group>.b-input-group-prepend:not(:first-child)>.b-btn, 
    .b-input-group>.b-input-group-prepend:not(:first-child)>.b-input-group-text {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .b-input-group>.b-input-group-append:last-child>.b-btn:not(:last-child):not(.dropdown-toggle), 
    .b-input-group>.b-input-group-append:last-child>.b-input-group-text:not(:last-child), 
    .b-input-group>.b-input-group-append:not(:last-child)>.b-btn, 
    .b-input-group>.b-input-group-append:not(:last-child)>.b-input-group-text, 
    .b-input-group>.b-input-group-prepend>.b-btn, 
    .b-input-group>.b-input-group-prepend>.b-input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
    
/**/