/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
  input[type="date"]:before {/*content: attr(placeholder) !important;*/color: #aaa;margin-right: 0.5em;}  
  input[type="date"]:focus:before, input[type="date"]:valid:before {/*content: "";*/}.gradient-45deg-light-red-orange {background: #FFCC66;  background: -webkit-linear-gradient(45deg, #FFCC66 0%, #DB1E34 100%);background: linear-gradient(45deg, #FFCC66 0%, #DB1E34 100%);}.onMouseOverDisabled{pointer-events: none;  width: 150px;}.letraTablaImpresion{font-size:8px;}.headerPDF{font-size:12px;   text-align: center}.datosClienteCotizacion{border: red 1px solid; background: #C0C0C0 !important; font-size:11px; color: black; -webkit-print-color-adjust:exact;}.letraTablaFooter{font-size:9px;}.tablaBordesHeader{border: red 1px solid;}.tablaBordesPrincipal{border: #D6D5D4 1px solid;}.letraTablaImpresionConsumibles,.letraTablaFooterConsumibles,.letraTablaImpresionEquipos, .letraTablaFooterEquipos{  font-size:13px;}.letraTablaFooterPoliza,.letraTablaImpresionPoliza{  font-size:11px;}.margenTopDivChosen{  margin-top: 10px;}.letraTablaFooterEquiposHeader{  font-size:15px;}